* {
  margin: 0;
  padding: 0;
}

.editor {
  width: 50%;
  height: 100vh;
}

.editor:first-child {
  float: left;
}

.editor:last-child::after {
  display: none;
  content: '';
  clear: both;
}

#editor_left_language {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: -2px;
  z-index: 9999;
  width: 50vw;
  text-align: right;
}

#editor_right_language {
  position: fixed;
  bottom: 0;
  left: 50vw;
  margin-left: -2px;
  z-index: 9999;
  width: 50vw;
  text-align: right;
}

select {
  -webkit-appearance: button;
  appearance: button;
  background-color: #202020;
  color: #fff;
  border: none;
  text-align: right;
}
