* {
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: button;
  appearance: button;
  background-color: #202020;
  color: #fff;
  border: none;
  text-align: right;
}

.editor {
  float: left;
}

@media screen and (min-width: 481px) {
  .editor {
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .editor {
    width: 100%;
    height: 50vh;
    border-bottom: 3px solid #DFDFDF;
  }
}

@media screen and (min-width: 481px) {
  #editor_left_language {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 50vw;
    text-align: right;
  }

  #editor_right_language {
    position: fixed;
    bottom: 0;
    left: 50vw;
    margin-left: -2px;
    z-index: 9999;
    width: 50vw;
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  #editor_left_language {
    position: relative;
    bottom: calc(50vh + 25px);
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 100vw;
    text-align: right;
  }

  #editor_right_language {
    position: relative;
    bottom: 45px;
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 100vw;
    text-align: right;
  }
}

#flashVisual {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

#flashVisal_body {
  width: 100vw;
  height: 50vh;
  margin: 25vh auto;
  text-align: center;
  font-family: "Sawarabi Mincho";
  color: #DFDFDF;
}

#flashVisal_body h1 {
  font-size: 15px;
}

#flashVisal_body img {
  height: 30vh;
  margin-bottom: 30px;
}
