* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 481px) {
  .editor {
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .editor {
    width: 100%;
    height: 50vh;
  }
}

.editor:first-child {
  float: left;
}

.editor:last-child::after {
  display: none;
  content: '';
  clear: both;
}

@media screen and (min-width: 481px) {
  #editor_left_language {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 50vw;
    text-align: right;
  }

  #editor_right_language {
    position: fixed;
    bottom: 0;
    left: 50vw;
    margin-left: -2px;
    z-index: 9999;
    width: 50vw;
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  #editor_left_language {
    position: fixed;
    bottom: -50vh;
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 100vw;
    text-align: right;
  }

  #editor_right_language {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    z-index: 9999;
    width: 100vw;
    text-align: right;
  }
}

select {
  -webkit-appearance: button;
  appearance: button;
  background-color: #202020;
  color: #fff;
  border: none;
  text-align: right;
}
