* {
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: button;
  appearance: button;
  background-color: #202020;
  color: #fff;
  border: none;
  text-align: right;
  padding: 3px 10px;
  width: 150px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #606060;
  border-radius: 0;
}

.editor {
  float: left;
}

@media screen and (min-width: 481px) {
  .editor {
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .editor {
    width: 100%;
    height: calc(50vh - 1px);
    border-bottom: 1px solid #DFDFDF;
  }
}

@media screen and (min-width: 481px) {
  #editor_left_language {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    z-index: 9997;
    width: 50vw;
    text-align: right;
  }

  #editor_right_language {
    position: fixed;
    bottom: 0;
    left: 50vw;
    margin-left: -2px;
    z-index: 9997;
    width: 50vw;
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  #editor_left_language {
    display: inline-block;
    position: relative;
    bottom: calc(50vh + 33px);
    left: 0;
    margin-left: -2px;
    z-index: 9997;
    width: 100vw;
    text-align: right;
  }

  #editor_right_language {
    display: inline-block;
    position: relative;
    bottom: 63px;
    left: 0;
    margin-left: -2px;
    z-index: 9997;
    width: 100vw;
    text-align: right;
  }
}

.splash {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

.splash_body {
  width: 100vw;
  height: 50vh;
  margin: 25vh auto;
  text-align: center;
  font-family: "Rounded Mplus 1c";
  color: #DFDFDF;
}

.splash_body h1 {
  font-size: 15px;
}

#splash_1 {
  z-index: 9999;
}

a:link, a:visited {
  color: #04C;
}

#splash_1 p.about, #splash_2 p.about{
  margin-top: 20px;
  font-size: 8px;
  color: #DFDFDF;
}

#splash_1 p.copyright, #splash_2 p.copyright {
  margin-top: 10px;
  font-size: 8px;
  color: #6D6D6D;
}

#splash_1 img {
  height: 30vh;
  margin-bottom: 30px;
}

#splash_2 {
  z-index: 9998;
}

#splash_body_2 {
  margin: 40vh auto;
}

#splash_2 button {
  width: 50vw;
  height: 50px;
  font-family: "Rounded Mplus 1c";
  font-weight: bold;
  font-size: 20px;
  background-color: #DFDFDF;
  margin: 10px 0;
  cursor: pointer;
}

#splash_2 button:active {
  background-color: #ACACAC;
  border-top: 2px solid #6D6D6D;
  border-left: 2px solid #6D6D6D;
}

#splash_2 p.desc {
  font-family: "Rounded Mplus 1c";
  font-size: 13px;
  color: #DFDFDF;
  margin: 20px 0;
}

#sns {
  height: 50px;
  margin-top: 30px;
}

.fb-share-button { /* Facebook */
    display: inline-block;
    height: 20px;
    overflow: hidden;
}
.fb_iframe_widget span {
    vertical-align: top !important;
  }
